<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/productcategories" routerLinkActive="active">Product Categories</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="userName"><h4 class="navbar-text">{{userName}}</h4></li>
      <li><button class="btn btn-default navbar-btn" (click)="logout()" *ngIf="userName"><span class="glyphicon glyphicon-log-out"></span> Logout</button></li>
      <li>&nbsp;&nbsp;</li>
    </ul>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>