@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<app-root></app-root>
<script>
    var domain = "http://localhost:4200/";
    ['inline.bundle.js', 'polyfills.bundle.js', 'scripts.bundle.js', 'styles.bundle.js',
    'vendor.bundle.js', 'main.bundle.js'].forEach(function(src){
        var script = document.createElement('script');
        script.src = domain + src;
        script.async = false;

        document.head.appendChild(script);
    });
</script>


