<h2>Product Categories</h2>

<div>
    <a [routerLink]="['/prodcatdetails', 0]">Add New Product Category</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Parent Id</th>
            <th>Name</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of productCategories" (click)="goToDetails()">
            <td>{{cat.productCategoryId}}</td>
            <td>{{cat.parentId}}</td>
            <td>{{cat.categoryName}}</td>
            <td>{{cat.active}}</td>
        </tr>
    </tbody>
</table>
{{diagnostic}}