<h3>Order Details</h3>
<div class="loadersmall" *ngIf="loading"></div>
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" novalidate *ngIf="order">
    <div class="row">
        <div class="col-sm-3">
            <label class="center-block">Order Id: {{orderForm.get('orderId').value}}</label>
        </div>
        <div class="col-sm-3">
            <label class="center-block">user Id: {{orderForm.get('userId').value}} </label>
        </div>
        <div class="col-sm-3">
            <label class="center-block">Order Number: {{orderForm.get('orderNumber').value}}</label>
        </div>
        <div class="col-sm-3">
            <label class="center-block">Order Date: {{orderForm.get('orderDate').value | date: "MM/dd/yyyy"}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="center-block" for="orderStatus">Status:
                    <select class="form-control" formControlName="orderStatusId" id="orderStatus">
                        <option *ngFor="let orderStatus of orderStatusList" [value]="orderStatus.id">{{orderStatus.name}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="center-block">Shipping:
                    <input class="form-control" formControlName="shipping" type="number">
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="center-block">Tax:
                    <input class="form-control" formControlName="tax" type="number">
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="center-block">Total:
                    <input class="form-control" formControlName="total" type="number">
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="center-block">Active:
                    <input formControlName="active" type="checkbox">
                </label>
            </div>
        </div>
    </div>
    <div formArrayName="orderProducts" class="panel panel-primary">
        <div class="panel-heading">Order Products</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Price per Unit</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let op of orderProducts.controls; let i=index" [formGroupName]="i">
                        <td>{{op.get('orderProductId').value}}</td>
                        <td>{{op.get('productId').value}}</td>
                        <td>{{op.get('productName').value}}</td>
                        <td>{{op.get('pricePerUnit').value | currency : "USD" : 2}}</td>
                        <td>{{op.get('quantity').value}}</td>
                        <td>{{op.get('discount').value | currency : "USD" : 2}}</td>
                        <td>{{op.get('totalPrice').value | currency : "USD" : 2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Billing Info</h3>
            <div class="form-group">
                <label class="center-block">Address 1: 
                    <input class="form-control" formControlName="billingAddress1">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Address 2:
                    <input class="form-control" formControlName="billingAddress2">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">City:
                    <input class="form-control" formControlName="billingCity">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Zipcode:
                    <input class="form-control" formControlName="billingZipcode">
                </label>
            </div>
            <div class="form-group" *ngIf="billingCountryId === UsCountryId">
                <label class="center-block">State:
                    <select class="form-control" formControlName="billingStateId">
                        <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group" *ngIf="billingCountryId === CaCountryId">
                <label class="center-block">Province:
                    <select class="form-control" formControlName="billingProvinceId">
                        <option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Country:
                    <select class="form-control" formControlName="billingCountryId">
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Shipping Info</h3>
            <div class="form-group">
                <label class="center-block">Shipping Number:
                    <input class="form-control" formControlName="shippingNumber">
                </label>
            </div>

            <div class="form-group">
                <label class="center-block">Date Shipped:
                    <my-date-picker name="dateShipped" [options]="myDatePickerOptions" formControlName="dateShipped" ></my-date-picker>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Address 1:
                    <input class="form-control" formControlName="shippingAddress1">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Address 2:
                    <input class="form-control" formControlName="shippingAddress2">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">City:
                    <input class="form-control" formControlName="shippingCity">
                </label>
            </div>
            <div class="form-group" *ngIf="shippingCountryId === UsCountryId">
                <label class="center-block">State:
                     <select class="form-control" formControlName="shippingStateId">
                        <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group" *ngIf="shippingCountryId === CaCountryId">
                <label class="center-block">Province:
                    <select class="form-control" formControlName="shippingProvinceId">
                        <option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Zipcode:
                    <input class="form-control" formControlName="shippingZipcode">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Country:
                    <select class="form-control" formControlName="shippingCountryId">
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping Provider:
                    <select class="form-control" formControlName="shippingProviderId">
                        <option *ngFor="let sp of shippingProviders" [value]="sp.id">{{sp.name}}</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="center-block">Comments:
        <textarea class="form-control" formControlName="comments"></textarea>
      </label>
    </div>

    <div style="margin-bottom: 1em">
        <button type="submit" [disabled]="orderForm.pristine" class="btn btn-success">Save</button>&nbsp;
        <button type="reset" (click)="reset(order)" [disabled]="orderForm.pristine" class="btn btn-danger">Reset</button>&nbsp;
    </div>
    <div class="alert alert-success" *ngIf="showSuccessMsg">
        <strong>Order details have been saved successfully!</strong>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg">
        <strong>{{errorMsg}}</strong>
    </div>
</form>