<P>{{orderForm.value | json}}</P>

<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" novalidate *ngIf="order">
    <div class="row">
        <div class="col-sm-3">
            <label class="center-block">Order Id: {{orderForm.get('orderId').value}}</label>
        </div>
        <div class="col-sm-3">
            <label class="center-block">user Id: {{orderForm.get('userId').value}} </label>
        </div>
        <div class="col-sm-3">
            <label class="center-block">Order Number: {{orderForm.get('orderNumber').value}}</label>
        </div>
        <div class="col-sm-3">
            <label class="center-block">Order Date: {{orderForm.get('orderDate').value | date: "MM/dd/yyyy 'at' h:mma"}}</label>
        </div>
    </div>
    
    <div class="row">
        <label class="col-sm-1" for="orderStatus">Status:</label>
        <div class="col-sm-5">
            <select class="form-control" formControlName="orderStatusId" id="orderStatus">
                <option *ngFor="let orderStatus of orderStatusList" [value]="orderStatus.id">{{orderStatus.name}}</option>
            </select>   
        </div>   
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Billing Info</h3>
            <div class="form-group">
                <label class="center-block">Billing Address 1: 
                    <input class="form-control" formControlName="billingAddress1">
                </label>                
            </div>
            <div class="form-group">
                <label class="center-block">Billing Address 2:
                    <input class="form-control" formControlName="billingAddress2">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Billing City:
                    <input class="form-control" formControlName="billingCity">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Billing Zipcode:
                    <input class="form-control" formControlName="billingZipcode">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Billing State:
                    <select class="form-control" formControlName="billingStateId">
                        <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Billing Province:
                    <input class="form-control" formControlName="billingProvinceId">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Billing Country:
                    <select class="form-control" formControlName="billingCountryId">
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Shipping Info</h3>
            <div class="form-group">
                <label class="center-block">Shipping Number:
                    <input class="form-control" formControlName="shippingNumber">
                </label>
            </div>

            <div class="form-group">
                <label class="center-block">Date Shipped:
                    <input type="date" class="form-control" formControlName="dateShipped">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping Address 1:
                    <input class="form-control" formControlName="shippingAddress1">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping Address 2:
                    <input class="form-control" formControlName="shippingAddress2">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping City:
                    <input class="form-control" formControlName="shippingCity">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping State:
                     <select class="form-control" formControlName="shippingStateId">
                        <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping Province:
                    <input class="form-control" formControlName="shippingProvinceId">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping Zipcode:
                    <input class="form-control" formControlName="shippingZipcode">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping Country:
                    <select class="form-control" formControlName="shippingCountryId">
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Shipping Provider Id:
                    <input class="form-control" formControlName="shippingProviderId">
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="center-block">Total:
        <input class="form-control" formControlName="total">
      </label>
    </div>
    <div class="form-group">
        <label class="center-block">Shipping:
        <input class="form-control" formControlName="shipping">
      </label>
    </div>
    <div class="form-group">
        <label class="center-block">Tax:
        <input class="form-control" formControlName="tax">
      </label>
    </div>
    <div class="form-group">
        <label class="center-block">Active:
        <input class="form-control" formControlName="active">
      </label>
    </div>

    <div class="form-group">
        <label class="center-block">comments:
        <textarea class="form-control" formControlName="comments"></textarea>
      </label>
    </div>

    <div style="margin-bottom: 1em">
        <button type="submit" [disabled]="orderForm.prinstine" class="btn tbn-success">Save</button>&nbsp;
        <button type="reset" (click)="reset()" [disabled]="orderForm.prinstine" class="btn tbn-danger">Reset</button>&nbsp;
    </div>
</form>